form.jqtransformdone label{
    display: block;
    float:left;
    margin: 4px 8px 0 0;
}
form.jqtransformdone div.rowElem{
    clear: both;
    padding: 4px 0;
}

/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Arial;
    margin: 0;
    overflow: visible;
    padding: 0;
}

*:first-child+html button.jqTransformButton[type]{width: 1;} /* IE7 */

button.jqTransformButton span {
    background: transparent url(img/btn_right.gif) no-repeat right top;
    display: block;
    float: left;
    height: 33px;
    padding: 0 4px 0 0; /* sliding doors padding */
    margin: 0;
}

button.jqTransformButton span span {
    background: transparent url(img/btn_left.gif) no-repeat top left;
    color: #333;
    display: block;
    font-weight: normal;
    font-size: 12px;
    height: 33px;
    line-height: 13px;
    padding: 8px 4px 0 8px;
    text-decoration: none;
}

/*hover*/
button.jqTransformButton_hover span span {background-position: left -33px;}
button.jqTransformButton_hover span {background-position: right -33px;}

/*clicked*/
button.jqTransformButton_click span span {background-position: left -66px;}
button.jqTransformButton_click span {background-position: right -66px;}

/* IE 6 */
* html button.jqTransformButton {height: 33px;}
* button.jqTransformButton span span {height: 25px;}
/* IE 7 */
*+ html button.jqTransformButton {height: 33px;}
*+ button.jqTransformButton span span {height: 25px;}

/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
    background: transparent url(img/input/input_text_left.gif) no-repeat left top;
    float: left;
    height: 31px;
    padding: 0;
}

.jqTransformInputInner {
    background: transparent url(img/input/input_text_right.gif) no-repeat top right;
    margin: 0;
    padding: 0;
}

.jqTransformInputInner div {
    height: 31px;
    margin: 0 0 0 8px;
}

.jqTransformInputInner div input {
    background-color: transparent;
    border: none;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 31px;
    line-height: 18px;
    padding: 8px 0 0 0;
    margin: 0;
    vertical-align: middle;
}

/*  IE6 */
* html .jqTransformInputInner div input {
    height:24px;
    margin: 0 0 0 -8px;
    padding: 6px 0 0 0;
}
/* Ie7 */
*+ html .jqTransformInputInner div input {
    height: 24px;
    margin-left:-10px;
    padding: 6px 0 0 0;
}

/*hover*/
.jqTransformInputWrapper_hover{ background-position: left -31px ;}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -31px ;}

/*focus*/
.jqTransformInputWrapper_focus{ background-position: left -62px ;}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -62px ;}

.jqTransformSafari .jqTransformInputInner div {
    margin: 0 8px;
    overflow: hidden;
    position: relative;
}
.jqTransformSafari .jqTransformInputInner div input {
    background-color: none;
    height: 42px;
    left: -2px;
    padding-left: 4px;
    position: absolute;
    top: -10px;
}

/* -------------
 * Textarea
 * ------------- */
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{
    font-size: 12px;
    line-height: 16px;
}

table.jqTransformTextarea td{
    font-size: 1px;
    height: 5px;
    line-height: 1px;
    margin: 0;
    padding: 0;
    width: 5px;
}

table.jqTransformTextarea textarea{
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}
table.jqTransformTextarea td#jqTransformTextarea-tl{background: url(img/textarea/textarea_tl.gif) no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-tm{background: url(img/textarea/textarea_tm.gif) repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-tr{background: url(img/textarea/textarea_tr.gif) no-repeat top left;}

table.jqTransformTextarea td#jqTransformTextarea-ml{background: url(img/textarea/textarea_ml.gif) repeat-y top left;}
table.jqTransformTextarea td#jqTransformTextarea-mm{background-image: url(img/textarea/textarea-mm.gif);}
table.jqTransformTextarea td#jqTransformTextarea-mr{background: url(img/textarea/textarea_mr.gif) repeat-y top left;}

table.jqTransformTextarea td#jqTransformTextarea-bl{background: url(img/textarea/textarea_bl.gif) no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-bm{background: url(img/textarea/textarea_bm.gif) repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-br{background: url(img/textarea/textarea_br.gif) no-repeat top left;}

/*hover*/
table.jqTransformTextarea-hover td#jqTransformTextarea-tl{background-position: 0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tm{background-position: 0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tr{background-position: 0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-ml{background-position: -5px 0;}
table.jqTransformTextarea-hover td#jqTransformTextarea-mm{background-image: url(img/textarea/textarea-mm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-mr{background-position: -5px 0;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bl{background-position: 0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bm{background-position: 0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-br{background-position: 0 -5px;}

/*focus*/
table.jqTransformTextarea-focus td#jqTransformTextarea-tl{background-position: 0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tm{background-position: 0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tr{background-position: 0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-ml{background-position: -10px 0;}
table.jqTransformTextarea-focus td#jqTransformTextarea-mm{background-image: url(img/textarea/textarea-mm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-mr{background-position: -10px 0;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bl{background-position: 0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bm{background-position: 0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-br{background-position: 0 -10px;}

table.jqTransformTextarea .jqTransformSafariTextarea div {
    border: 0 solid red;
    position: relative;
    overflow: hidden;
}

table.jqTransformTextarea .jqTransformSafariTextarea textarea{
    background: none;
    left: -10px;
    padding: 10px;
    position: absolute;
    resize: none;
    top: -10px;
}

/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {
    display: block;
    float: left;
    margin: 5px 4px 0 4px;
}
.jqTransformRadio {
    background: transparent url(img/radio.gif) no-repeat center top;
    display: block;
    height: 19px;
    vertical-align: middle;
    width: 18px;
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
    display: block;
    float: left;
    margin-top: 5px;
}
a.jqTransformCheckbox {
    background: transparent url(img/checkbox.gif) no-repeat center top;
    display: block;
    height: 19px;
    vertical-align: middle;
    width: 18px;
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}

/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
    background: url(img/select_left.gif) no-repeat top left;
    height: 31px;
    float:left;
    position:relative;
    width: 45px;
}

.jqTransformSelectWrapper div span {
    cursor:pointer;
    float: none;
    font-size: 12px;
    height: 31px;
    line-height: 15px;
    overflow: hidden;
    padding: 8px 0 0 7px;
    position: absolute;
    white-space: nowrap;
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
    background: url(img/select_right.gif) no-repeat center center;
    display: block;
    height: 31px;
    position: absolute;
    right: 0;
    width: 31px;
}

.jqTransformSelectWrapper ul {
    background-color: #FFF;
    border: solid 1px #CCC;
    display: none;
    height: 150px;
    left: 0;
    list-style: none;
    margin: 0;
    overflow: auto;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 43px;
    z-index: 10;
}

.jqTransformSelectWrapper ul a {
    background-color: #FFF;
    color:#333;
    display: block;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
}

.jqTransformSelectWrapper ul a.selected {
    background-color: #EDEDED;
    color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
    background-color: #3582C4;
    color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}